<nav class="navbar navbar-default" role="navigation"  >
  <form class="navbar-form navbar-left" role="form" novalidate>
    <label>{{title}}</label>
    <input type="text" ng-model="city" class="form-control" placeholder="Please input city">
    <button class="btn btn-primary btn-sm" type="submit" ng-click="searchWeather()">
    <span class="glyphicon glyphicon-search"></span>
    Search
    </button>
  </form>
</nav>
<table class="table" ng-show="needShow()">
  <tr>
    <td>Country</td>
    <td>{{weathers.city.country}}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>{{weathers.city.name}}</td>
  </tr>
  <tr>
    <td  ng-repeat="w in weathers.list">
      <table class="table">
        <tr>
          <td>{{w.dt * 1000 | date}}</td>
        </tr>
        <tr>
          <td><img ng-src="http://openweathermap.org/img/w/{{w.weather[0].icon}}.png" ></td>
        </tr>
        <tr>
          <td>{{w.weather[0].description}}</td>
        </tr>
        <tr>
          <td>{{w.temp.min}} ~ {{w.temp.max}} {{unitFlag}} </td>
        </tr>
      </table>
    </td>
  </tr>
</table>