<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-circle-arrow-left" ng-click="toggle()"></span>
    <strong>{{weathers.city.name}}, {{weathers.city.country}}</strong>
  </div>
    <ul class="list-group">
      <li class="list-group-item  slide-animate">
        {{weather.dt * 1000 | date : 'MM-dd'}}
        <img ng-if="weather" title="{{weather.weather[0].main}}"
             ng-src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"/>
        {{weather.weather[0].description}}
        <span class="label label-default">{{weather.temp.min}}{{unitFlag}}</span>
        <span class="label label-warning">{{weather.temp.max}}{{unitFlag}}</span>
      </li>
      <li class="list-group-item">{{ 'Wind' | translate }}: {{weather.speed}}m/s {{weather.deg}}°</li>
      <li class="list-group-item">{{ 'Pressure' | translate }}: {{weather.pressure}}hpa</li>
      <li class="list-group-item">{{ 'Humidity' | translate }}: {{weather.humidity}}%</li>
      <li class="list-group-item">{{ 'Day' | translate }}: {{weather.temp.day}}{{unitFlag}} {{ 'Eve' | translate }}: {{weather.temp.eve}}{{unitFlag}} {{ 'Night' | translate }}:
        {{weather.temp.night}}{{unitFlag}}
      </li>
    </ul>
</div>
